.container {
    width: 100%;
    background-position: cover;
    background-size: cover;
    background-repeat: no-repeat;
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    /*align-items: center; */
}
.container1 {
    background-image: url(https://prium.github.io/freya/v2.1.0/assets/img/header_1.jpg);
    height: 100vh;
}